
<form [formGroup]="eventForm">
	<div class="container">
		<table class="table table-condensed">
			<tbody>
				<tr>
					<label> Event: <input type="text" formControlName="event"
						(required)="true">
					</label>
				</tr>
				<tr>
					<label> Scouter: <input type="text"
						formControlName="scouter" (required)="true">
					</label>
				</tr>
				<tr>
					<label> Team: <input type="text" formControlName="team"
						(required)="true">
					</label>
				</tr>
				<tr>
					<label> Round: <input type="text" formControlName="round"
						(required)="true">
					</label>
				</tr>
			</tbody>
		</table>
		<table class="table table-sm">
			<tbody>
				<tr>
					<td><a (click)="makeEvent('cargo','take','floor')"> <img
							src="{{(this.hasPiece ? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" /><br />Floor
					</a></td>
					<td></td>
					<td><a (click)="makeEvent('cargo','place','RocketH')"> <img
							src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-success.png' )}}" /><br />
							Rocket H/M Success
					</a></td>
					<td><a (click)="makeEvent('cargo','fail','RocketH')"> <img
							src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-fail.png' )}}" /><br />
							Rocket H/M Fail
					</a></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('cargo','take','window')"> <img
							src="{{(this.hasPiece? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" /><br>Window
					</a></td>
					<td></td>
					<td><a (click)="makeEvent('cargo','place','RocketL')"> <img
							src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-success.png' )}}" /><br>Rocket
							Low Success
					</a></td>
					<td><a (click)="makeEvent('cargo','fail','RocketL')"> <img
							src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-fail.png' )}}" /><br>Rocket
							Low Fail
					</a></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('cargo','take','depot')"> <img
							src="{{(this.hasPiece? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" /><br>Depot
					</a></td>
					<td></td>
					<td><a (click)="makeEvent('cargo','place','cargo ship')">
							<img
							src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-success.png' )}}" />
							<br>Cargo Ship Success
					</a></td>
					<td><a (click)="makeEvent('cargo','fail','cargo ship')"> <img
							src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-fail.png' )}}" /><br>Cargo
							Ship Fail
					</a></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('cargo','take','pre')"> <img
							src="{{(this.hasPiece? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" /><br>Preload
					</a></td>
					<td></td>
					<td colspan="2"><a (click)="makeEventDrop()"> <img
							src="../../assets/drop.png" /><br>Drop Piece
					</a></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('hatch','take','floor')"> <img
							src="{{(this.hasPiece? '../../assets/hatch-disabled.png' : '../../assets/hatch.png' )}}" /><br>Floor
					</a></td>
					<td></td>
					<td><a (click)="makeEvent('hatch','place','RocketH')"> <img
							src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-success.png' )}}" />
							<br>Rocket H/M Success
					</a></td>
					<td><a (click)="makeEvent('hatch','fail','RocketH')"> <img
							src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-fail.png' )}}" /><br>Rocket
							H/M Fail
					</a></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('hatch','take','brushes')"> <img
							src="{{(this.hasPiece? '../../assets/hatch-disabled.png' : '../../assets/hatch.png' )}}" /><br>Brushes
					</a></td>
					<td></td>
					<td><a (click)="makeEvent('hatch','place','RocketL')"> <img
							src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-success.png' )}}" />
							<br>Rocket Low Success
					</a></td>
					<td><a (click)="makeEvent('hatch','fail','RocketL')"> <img
							src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-fail.png' )}}" /><br>Rocket
							Low Fail
					</a></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('hatch','take','pre')"> <img
							src="{{(this.hasPiece? '../../assets/hatch-disabled.png' : '../../assets/hatch.png' )}}" /><br>Preload
					</a></td>
					<td></td>
					<td><a (click)="makeEvent('hatch','place','cargo ship')">
							<img
							src="{{(!this.hasHatch()? '../../assets/hatch-disabled.png' : '../../assets/hatch-success.png' )}}" />
							<br>Cargo Ship Success
					</a></td>
					<td><a (click)="makeEvent('hatch','fail','cargo ship')"> <img
							src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-fail.png' )}}" /><br>Cargo
							Ship Fail
					</a></td>
				</tr>
				
				<tr>
					<td>Unposted Events:{{this.eventList.length}}</td>
					<td></td>
					<td>Posted Events:{{this.successes.length}}</td>
					<td>Failed Events:{{this.failures.length}}<a (click)="retryFailures()"> Retry
							
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
