<h1>TroboScout</h1>
<form [formGroup]="eventForm">
	<div class="container">
		<table class="table table-condensed">
			<tbody>
				<tr>
					<td><input type="radio" formControlName="partner"
						value="trobots"><img src="../../assets/trobots.jpg" />&nbsp;&nbsp;&nbsp;<input
						type="radio" formControlName="partner" value="emp"><img
						src="../../assets/emp.jpg" /></td>
				</tr>
				<tr>
					<label> Event: <select formControlName="event">
							<option [value]="week" *ngFor="let week of weeks">
								{{week}}</option>
					</select>
					</label>
				</tr>
				<tr>
					<label> Scouter: <input type="text"
						formControlName="scouter" (required)="true">
					</label>
				</tr>
				<tr>
					<label> Team: <input type="text" formControlName="team"
						(required)="true">
					</label>
				</tr>
				<tr>
					<label> Round: <input type="text" formControlName="round"
						(required)="true">
					</label>
				</tr>
			</tbody>
		</table>
		<div class="{{(hasInfo()?'d-none' :' ')}}">Enter Event, Scouter,
			Team, and Round</div>
		<div class="{{(hasInfo()?' ' :' d-none')}}">
			<table class="table table-sm{{(hasInfo()?' ' :' d-none')}}">
				<tbody>
					<tr class="table-primary">
						<Th>Take</Th>
						<th></th>
						<th>Success</th>
						<th>Fail</th>
					</tr>
					<tr>
						<td><a (click)="makeEvent('cargo','take','floor')"> <img
								src="{{((this.hasPiece || !this.matchInProgress)? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" /></a><br />Floor</td>

						<td>&nbsp;&nbsp;&nbsp;</td>
						<td><a (click)="makeEvent('cargo','place','RocketH')"> <img
								src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-success.png' )}}" />
						</a><br /> Rocket H/M</td>
						<td><a (click)="makeEvent('cargo','fail','RocketH')"> <img
								src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-fail.png' )}}" />
						</a><br /> Rocket H/M</td>
					</tr>
					<tr>
						<td><a (click)="makeEvent('cargo','take','window')"> <img
								src="{{((this.hasPiece || !this.matchInProgress)? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" />
						</a><br>Station</td>
						<td></td>
						<td><a (click)="makeEvent('cargo','place','RocketL')"> <img
								src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-success.png' )}}" />
						</a><br>Rocket Low</td>
						<td><a (click)="makeEvent('cargo','fail','RocketL')"> <img
								src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-fail.png' )}}" />
						</a><br>Rocket Low</td>
					</tr>
					<tr>
						<td><a (click)="makeEvent('cargo','take','depot')"> <img
								src="{{((this.hasPiece || !this.matchInProgress)? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" />
						</a><br>Depot</td>
						<td></td>
						<td><a (click)="makeEvent('cargo','place','cargo ship')">
								<img
								src="{{(!this.hasCargo()  ? '../../assets/cargo-disabled.png' : '../../assets/cargo-success.png' )}}" />

						</a><br>Cargo Ship</td>
						<td><a (click)="makeEvent('cargo','fail','cargo ship')">
								<img
								src="{{(!this.hasCargo() ? '../../assets/cargo-disabled.png' : '../../assets/cargo-fail.png' )}}" />
						</a><br>Cargo Ship</td>
					</tr>
					<tr>
						<td><a (click)="makeEvent('cargo','take','pre')"> <img
								src="{{((this.hasPiece || this.matchInProgress)? '../../assets/cargo-disabled.png' : '../../assets/cargo.png' )}}" />
						</a><br>Preload</td>
						<td></td>
						<td><a (click)="oops()"> <img
								src="{{(this.errorEvent ? '../../assets/error-disabled.png' : '../../assets/error.png')}}" />
						</a><br>Entry Error</td>
						<td><a (click)="makeEventDrop()"> <img
								src="../../assets/drop.png" />
						</a><br>Drop Piece</td>
					</tr>
					<tr>
						<td><a (click)="makeEvent('hatch','take','floor')"> <img
								src="{{((this.hasPiece || !this.matchInProgress)? '../../assets/hatch-disabled.png' : '../../assets/hatch.png' )}}" />
						</a><br>Station</td>
						<td></td>
						<td><a (click)="makeEvent('hatch','place','RocketH')"> <img
								src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-success.png' )}}" />

						</a><br>Rocket H/M</td>
						<td><a (click)="makeEvent('hatch','fail','RocketH')"> <img
								src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-fail.png' )}}" />
						</a><br>Rocket H/M</td>
					</tr>
					<tr>
						<td><a (click)="makeEvent('hatch','take','brushes')"> <img
								src="{{((this.hasPiece || !this.matchInProgress)? '../../assets/hatch-disabled.png' : '../../assets/hatch.png' )}}" />
						</a><br>Brushes</td>
						<td></td>
						<td><a (click)="makeEvent('hatch','place','RocketL')"> <img
								src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-success.png' )}}" />

						</a><br>Rocket Low</td>
						<td><a (click)="makeEvent('hatch','fail','RocketL')"> <img
								src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-fail.png' )}}" />
						</a><br>Rocket Low</td>
					</tr>
					<tr>
						<td><a (click)="makeEvent('hatch','take','pre')"> <img
								src="{{((this.hasPiece || this.matchInProgress)? '../../assets/hatch-disabled.png' : '../../assets/hatch.png' )}}" />
						</a><br>Preload</td>
						<td></td>
						<td><a (click)="makeEvent('hatch','place','cargo ship')">
								<img
								src="{{(!this.hasHatch()? '../../assets/hatch-disabled.png' : '../../assets/hatch-success.png' )}}" />

						</a><br>Cargo Ship</td>
						<td><a (click)="makeEvent('hatch','fail','cargo ship')">
								<img
								src="{{(!this.hasHatch() ? '../../assets/hatch-disabled.png' : '../../assets/hatch-fail.png' )}}" />
						</a><br>Cargo Ship</td>
					</tr>
					<tr class="table-primary">
						<th>Climb</th>
						<th></th>
						<th>Success</th>
						<th>Fail</th>
					</tr>
					<tr>
						<td><button (click)="makeEvent(null,'no-climb',null)"
								class="btn btn-warning btn-sm">No Climb</button></td>
						<td></td>
						<td><button (click)="makeEvent(null,'climb','low')"
								class="btn btn-success btn-sm">Low</button></td>
						<td><button (click)="makeEvent(null,'climb-fail','low')"
								class="btn btn-danger btn-sm">Low</button></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><button (click)="makeEvent(null,'climb','medium')"
								class="btn btn-success btn-sm">Medium</button></td>
						<td><button (click)="makeEvent(null,'climb-fail','medium')"
								class="btn btn-danger btn-sm">Medium</button></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><button (click)="makeEvent(null,'climb','high')"
								class="btn btn-success btn-sm">High</button></td>
						<td><button (click)="makeEvent(null,'climb-fail','high')"
								class="btn btn-danger btn-sm">High</button></td>
					</tr>
					<tr class="table-primary">
						<th colspan="4">Comment</th>
					</tr>
					<tr>
						<td colspan="3"><textarea cols="25" formControlName="comment"></textarea></td>
						<td><button (click)="comment()"
								class="btn btn-primary btn-sm">Comment</button></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>

						<td><button (click)="newMatch()"
								class="btn btn-primary btn-sm">New Match</button></td>
					</tr>

					<tr colspan="">
						<td>Unposted Events:{{this.eventList.length}}</td>
						<td></td>
						<td>Posted Events:{{this.successes.length}}</td>
						<td>Failed Events:{{this.failures.length}}<a
							class="btn btn-sm btn-primary" (click)="retryFailures()">
								Retry </a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
