
<form [formGroup]="eventForm">
	<div class="container">
		<table class="table table-condensed">
			<tbody>
				<tr>
					<label> Event: <input type="text" formControlName="event">
					</label>
				</tr>
				<tr>
					<label> Scouter: <input type="text"
						formControlName="scouter">
					</label>
				</tr>
				<tr>
					<label> Team: <input type="text" formControlName="team">
					</label>
				</tr>
				<tr>
					<label> Round: <input type="text" formControlName="round">
					</label>
				</tr>
			</tbody>
		</table>
		<table class="table table-condensed">
			<tbody>
			<hr>
			
				<tr>
					<td><label>Floor</label></td>
					<td colspan="2"><label>Rocket High</label></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('cargo','take','floor')"> <img
							src="../../assets/cargo.png" /></a></td>
					<td><a (click)="makeEvent('cargo','place','RocketH')"> <img
							src="../../assets/cargo-success.png" /></a></td>
					<td><a (click)="makeEvent('cargo','fail','RocketH')"> <img
							src="../../assets/cargo-fail.png" /></a></td>
				</tr>
				<tr>
					<td><label>Window</label></td>
					<td colspan="2"><label>Rocket Low</label></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('cargo','take','window')"> <img
							src="../../assets/cargo.png" /></a></td>
					<td><a (click)="makeEvent('cargo','place','RocketL')"> <img
							src="../../assets/cargo-success.png" /></a></td>
					<td><a (click)="makeEvent('cargo','fail','RocketL')"> <img
							src="../../assets/cargo-fail.png" /></a></td>
				</tr>

				<tr>
					<td><label>Depot</label></td>
					<td colspan="2"><label>Cargo Ship</label></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('cargo','take','depot')"> <img
							src="../../assets/cargo.png" /></a></td>
					<td><a (click)="makeEvent('cargo','place','cargo ship')">
							<img src="../../assets/cargo-success.png" />
					</a></td>
					<td><a (click)="makeEvent('cargo','fail','cargo ship')"> <img
							src="../../assets/cargo-fail.png" /></a></td>
				</tr>
				<tr>
					<td><label>Preload</label></td>
					<td colspan="2"><label>Drop</label></td>
				</tr>
				<hr>
				
				<tr>
					<td><a (click)="makeEvent('cargo','take','pre')"> <img
							src="../../assets/cargo.png" /></a></td>
					<td colspan="2"><a
						(click)="makeEvent('cargo','place','drop')"> <img
							src="../../assets/drop.png" /></a></td>
				</tr>
				<tr></tr>
				<tr>
					<td><label>Floor</label></td>
					<td colspan="2"><label>Rocket High</label></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('hatch','take','floor')"> <img
							src="../../assets/hatch.png" /></a></td>
					<td><a (click)="makeEvent('hatch','place','RocketH')"> <img
							src="../../assets/hatch-success.png" />
					</a></td>
					<td><a (click)="makeEvent('hatch','fail','RocketH')"> <img
							src="../../assets/hatch-fail.png" /></a></td>
				</tr>
				<tr>
					<td><label>Brushes</label></td>
					<td colspan="2"><label>Rocket Low</label></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('hatch','take','brushes')"> <img
							src="../../assets/hatch.png" /></a></td>
					<td><a (click)="makeEvent('hatch','place','RocketL')"> <img
							src="../../assets/hatch-success.png" />
					</a></td>
					<td><a (click)="makeEvent('hatch','fail','RocketL')"> <img
							src="../../assets/hatch-fail.png" /></a></td>
				</tr>
								<tr>
					<td><label>Preload</label></td>
					<td colspan="2"><label>Cargo Ship</label></td>
				</tr>
				<tr>
					<td><a (click)="makeEvent('hatch','take','pre')"> <img
							src="../../assets/hatch.png" /></a></td>
					<td><a (click)="makeEvent('hatch','place','cargo ship')"> <img
							src="../../assets/hatch-success.png" />
					</a></td>
					<td><a (click)="makeEvent('hatch','fail','cargo ship')"> <img
							src="../../assets/hatch-fail.png" /></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</form>
